@font-face {
    font-family: "Roboto";
    src:url("../fonts/Roboto/roboto-medium-webfont.woff") format('woff'),
        url("../fonts/Roboto/roboto-medium-webfont.woff2") format('woff2'),
        url("../fonts/Roboto/Roboto-Medium.ttf") format('truetype');
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("../fonts/Roboto/Roboto-Regular.ttf") format('truetype');
}

h1 {
    font-family: "Roboto";
}

body {
    background-color: black;
    font-family: "Roboto-Regular";
}

#topBar {
    background-color: black;
    display: flex;
    width:100%;
    flex-direction: row;
    flex-basis: auto;
    flex-wrap: nowrap;
    border-style: solid;
    border-color: #66cc33;
    border-left-width: 0pt;
    border-right-width: 0pt;
    border-top-width: 0pt;
    border-bottom-width: 5pt;
}
.header {
    flex: 1;
    text-align: center;
    border-style: solid;
    border-color: rgb(37, 37, 37);
}
#bottomBar {
    background-color: black;
    display: flex;
    width:100%;
    flex-direction: row;
    flex-basis: auto;
    flex-wrap: nowrap;
    position: absolute; bottom: 0px;
    text-align: center;
    border-style: solid;
    border-color: #66cc33;
    border-left-width: 0pt;
    border-right-width: 0pt;
    border-top-width: 5pt;
    border-bottom-width: 0pt;
}
.footer {
    flex: 1;
    min-height: 40pt;
}