#topBar {
    background-color: #66cc33;
    display: flex;
    width:100%;
    flex-direction: row;
    flex-basis: auto;
    flex-wrap: nowrap;
}
.header {
    flex: 1;
}
#bottomBar {
    background-color: black;
    display: flex;
    width:100%;
    flex-direction: row;
    flex-basis: auto;
    flex-wrap: nowrap;
    position: absolute; bottom: 0px;
}
.footer {
    flex: 1;
    min-height: 40pt;
}